<div class="container">
	<div class="row">
		<h1 class="page_title">マイページ</h1>
		<div class="col-xs-3">
			<table width="300" class="mypage_table">
				<thead>
					<tr>
						<th>新着情報</th>
					</tr>
				</thead>
				<% @posts.each do |post| %>
					<tbody>
						<tr>
							<td><%= post.created_at.strftime("%Y/%m/%d") %></td>
							<td><%= post.title %><br><%= post.team.name %></td>
						</tr>
					</tbody>
				<% end %>
			</table>
		</div>
		<div class="col-xs-9">
			<h2>お近くのチーム(<%= @player.prefecture_code %>)</h2>
			<div class="near_team">
				<% @teams.each do |team| %>
					<div class="team_box">
						<%= link_to player_team_path(team) do %>
							<%= attachment_image_tag team, :team_image, :fill, 200, 130 %><br>
							<%= team.name %>
						<% end %>
					</div>
				<% end %>
			</div>
		</div>
	</div>
</div>