<div class="container">
	<h1 class="page_title">チーム一覧</h1>
	<%= search_form_for @q, url: team_teams_path, class: "seach" do |f| %>
		<%= f.search_field :name_or_prefecture_name_or_city_cont, class: "seach_form", placeholder: "検索" %>
		<!-- 検索は元のカラムにて -->
		<%= button_tag type: "submit" do %>
            <i class="fas fa-search"></i>
        <% end %><br>
		<%= f.radio_button :category_eq, '', {:checked => true} %>指定なし
		<%= f.radio_button :category_eq, 0 %>硬式
		<%= f.radio_button :category_eq, 1 %>軟式
	<% end %>
	<table width="700" class="team_table">
		<thead>
			<tr>
				<th></th>
				<th>都道府県</th>
				<th>市区町村</th>
				<th>チーム名</th>
				<th>カテゴリー</th>
				<th>人数</th>
			</tr>
		</thead>
		<% @teams.each do |team| %>
			<tbody>
				<tr>
					<% if team == current_team %>
						<td>
							<%= link_to edit_team_team_path(current_team) do %>
								<i class="fas fa-baseball-ball"></i>
							<% end %>
						</td>
					<% else %>
						<td></td>
					<% end %>
					<td><%= team.prefecture_name %></td>
					<!-- prefecture_codeをprefecture_nameに変換しているため -->
					<td><%= team.city %></td>
					<td><%= link_to team.name, team_team_path(team) %></td>
					<td><%= team.category %></td>
					<td><%= team.member %></td>
				</tr>
			</tbody>
		<% end %>
	</table>
</div>