<div class="container">
	<h1 class="page_title">お気に入りチーム</h1>
	<table width="650" class="team_table">
		<thead>
			<tr>
				<th>市区町村</th>
				<th>カテゴリー</th>
				<th>チーム名</th>
				<th>人数</th>
				<th></th>
			</tr>
		</thead>
		<% @bookmarks.each do |bookmark| %>
			<tbody>
				<tr>
					<td><%= bookmark.team.city %></td>
					<td><%= bookmark.team.category %></td>
					<td><%= link_to bookmark.team.name, player_team_path(bookmark.team) %></td>
					<td><%= bookmark.team.member %></td>
					<% if bookmark.team.bookmarked_by?(current_player) %>
						<%= link_to player_bookmarks_path(bookmark), method: :delete, remote: true do %>
							<!-- remote: trueでコントローラにJSのリクエストを送る -->
							<td><i class="fas fa-star" style="color: skyblue;"></i></td>
						<% end %>
					<% else %>
						<%= link_to player_bookmarks_path(bookmark), method: :post, remote: true do %>
							<td><i class="far fa-star"></i></td>
						<% end %>
					<% end %>
				</tr>
			</tbody>
		<% end %>
	</table>
</div>