<div class="container">
	<h1 class="page_title">お気に入りチーム</h1>
	<div class="team_boxes">
		<% @bookmarks.each do |bookmark| %>
			<div class="team_box">
				<% if bookmark.team.bookmarked_by?(current_player) %>
					<%= link_to player_team_bookmarks_path(bookmark.team), method: :delete, remote: true do %>
						<!-- remote: trueでコントローラにJSのリクエストを送る -->
						<td><i class="fas fa-star" style="color: #0F80FF;"></i></td>
					<% end %>
				<% else %>
					<%= link_to player_team_bookmarks_path(bookmark.team), method: :post, remote: true do %>
						<td><i class="far fa-star"></i></td>
					<% end %>
				<% end %><br>
				<%= link_to player_team_path(bookmark.team) do %>
					<%= attachment_image_tag bookmark.team, :team_image, :fill, 200, 130 %><br>
					<p class="team_box_name"><%= bookmark.team.name %></p>
				<% end %>
				<div class="team_box_bottom">
					・<%= bookmark.team.prefecture_name %><%= bookmark.team.city %><br>
					<!-- prefecture_codeをprefecture_nameに変換しているため -->
					・<%= bookmark.team.category %><br>
					・<%= bookmark.team.member %>人
				</div>
			</div>
		<% end %>
	</div>
</div>