<div class="container">
	<h1 class="page_title">チーム一覧</h1>
	<%= search_form_for @q, url: player_teams_path, class: "seach" do |f| %>
		<%= f.search_field :name_or_prefecture_code_or_city_cont, class: "seach_form", placeholder: "検索" %>
		<!-- 検索は元のカラムにて実行 -->
		<%= button_tag type: "submit" do %>
            <i class="fas fa-search"></i>
        <% end %><br>
		<%= f.radio_button :category_eq, '', {:checked => true} %>指定なし
		<%= f.radio_button :category_eq, 0 %>硬式
		<%= f.radio_button :category_eq, 1 %>軟式
	<% end %>
	<div class="team_boxes">
		<% @teams.each do |team| %>
			<div class="team_box">
				<% if team.bookmarked_by?(current_player) %>
					<%= link_to player_team_bookmarks_path(team), method: :delete, remote: true do %>
						<!-- remote: trueでコントローラにJSのリクエストを送る -->
						<td><i class="fas fa-star" style="color: #0F80FF;"></i></td>
					<% end %>
				<% else %>
					<%= link_to player_team_bookmarks_path(team), method: :post, remote: true do %>
						<td><i class="far fa-star"></i></td>
					<% end %>
				<% end %><br>
				<%= link_to player_team_path(team) do %>
					<%= attachment_image_tag team, :team_image, :fill, 200, 130 %><br>
					<p class="team_box_name"><%= team.name %></p>
				<% end %>
				<div class="team_box_bottom">
					・<%= team.prefecture_name %><%= team.city %><br>
					<!-- prefecture_codeをprefecture_nameに変換しているため -->
					・<%= team.category %><br>
					・<%= team.member %>人
				</div>
			</div>
		<% end %>
	</div>
</div>