<script type="text/javascript">
  function initMap() {
// latitude,longitudeから位置を特定
    var test ={lat: <%= @team.latitude %>, lng: <%= @team.longitude %>};
    var map = new google.maps.Map(document.getElementById('map'), {
              zoom: 15,
              center: test
              });
    var transitLayer = new google.maps.TransitLayer();
    transitLayer.setMap(map);
    var contentString = '住所：<%= @team.prefecture_name %><%= @team.city %><%= @team.street %>';
    // prefecture_codeをprefecture_nameに変換しているため
    var infowindow = new google.maps.InfoWindow({
      content: contentString
    });

 // Map上の指定した位置にピンを挿して表示する
    var marker = new google.maps.Marker({
                  position:test,
                  map: map,
                  title: contentString
                 });

     marker.addListener('click', function() {
       infowindow.open(map, marker);
     });
  }
</script>

<script async defer
              src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['API_KEY'] %>&callback=initMap" async defer>
</script>

<div class="container">
	<div class="row">
		<div class="col-xs-3">
			<table width="350" class="side_table">
				<thead>
					<tr>
						<th colspan="2"><%= @team.name %>　新着情報</th> <!-- 2つ分のスペースを結合 -->
					</tr>
				</thead>
				<tbody>
					<% @posts.each do |post| %>
						<% if @team == post.team %>
							<tr>
								<td><%= post.created_at.strftime("%Y/%m/%d") %></td>
								<td><%= link_to post.title, player_post_path(post) %></td>
							</tr>
						<% end %>
					<% end %>
				</tbody>
			</table>
			<div class="post_index_path">
				<%= link_to "#{@team.name}の投稿一覧へ", player_posts_path(team: @team.id) %> <!-- teamのidを含む -->
			</div>
		</div>
		<div class="col-xs-9">
			<div class="team_information">
				<ul class="player_teams_information_top">
					<li id="bookmarks_buttons_<%= @team.id %>">
			            <%= render partial: 'player/bookmarks/bookmark', locals: { team: @team } %>
			        </li>
					<li class="category"><%= @team.category %></li>
					<li class="name"><%= @team.name %></li>
					<li class="member"><%= @team.member %>人</li>
					<li><%= link_to root_path do %> <!-- コンタクトを作成するまでとりあえず -->
							<i class="fas fa-paper-plane"> お問い合わせ</i>
						<% end %>
					</li>
				</ul>
				<div class="team_image">
					<%= attachment_image_tag @team, :team_image, :fill, 900, 500 %>
				</div>
				<p class="team_introduction"><%= safe_join(@team.introduction.split("\n"), tag(:br)) %></p>
				<!-- safe_joinによって改行が反映される -->
				<table width="350" class="address_table">
					<tr>
						<th><i class="fas fa-mobile-alt"></i> 連絡先</th>
						<td><%= @team.phone_number %></td>
					</tr>
					<tr>
						<th><i class="fas fa-baseball-ball"></i> 住所</th>
						<td><%= @team.prefecture_name %><%= @team.city %><%= @team.street %></td>
						<!-- prefecture_codeをprefecture_nameに変換しているため -->
					</tr>
				</table>
				<div id="map" data-tap-disabled="true"></div>
				<%= link_to "前の画面へ戻る", :back, class: "back_btn" %> <!-- 前の状態の画面に戻る -->
			</div>
		</div>
	</div>
</div>