<div class="container">
	<% if params[:team].nil? %>
		<h1 class="page_title">投稿一覧</h1>
	<% else %>
		<h1 class="page_title"><%= Team.find(params[:team]).name %>　投稿一覧</h1>
	<% end %>
	<%= search_form_for @q, url: player_posts_path, class: "seach" do |f| %>
		<%= f.search_field :title_cont, class: "seach_form", placeholder: "検索" %>
		<%= button_tag type: "submit" do %>
            <i class="fas fa-search"></i>
        <% end %>
	<% end %>
	<table width="600" class="post_table">
		<thead>
			<tr>
				<th>投稿日</th>
				<th>タイトル</th>
				<% if params[:team].nil? %>
					<th>チーム名</th>
				<% end %>
			</tr>
		</thead>
		<% @posts.each do |post| %>
			<tbody>
				<tr>
					<td><%= post.created_at.strftime("%Y/%m/%d") %></td>
					<td><%= link_to post.title, player_post_path(post), class: "post_title" %></td>
					<% if params[:team].nil? %>
						<td><%= post.team.name %> (<%= post.team.prefecture_name %>)</td>
					<% end %>
				</tr>
			</tbody>
		<% end %>
	</table>
</div>