<div class="container">
	<h1 class="page_title">投稿一覧</h1>
	<p class="flash_message"><%= flash[:notice] %></p>
	<table width="600" class="post_table">
		<thead>
			<tr>
				<th>投稿日</th>
				<th>タイトル</th>
				<th>チーム名</th>
				<th></th>
			</tr>
		</thead>
		<% @posts.each do |post| %>
			<tbody>
				<tr>
					<td><%= post.created_at.strftime("%Y/%m/%d") %></td>
					<td><%= link_to post.title, team_post_path(post) %></td>
					<td><%= post.team.name %></td>
					<% if post.team_id == current_team.id %>
						<td>
							<%= link_to "編集", edit_team_post_path(post) %>
							<%= link_to "削除", team_post_path(post), method: :delete, "data-confirm" => "投稿を削除してよろしいですか？" %>
						</td>
					<% end %>
				</tr>
			</tbody>
		<% end %>
	</table>
</div>