<div class="container">
	<% if params[:team_id].nil? %> <!-- 投稿一覧出力時にチームidが含まれているかの分岐 -->
		<h1 class="page_title">投稿一覧</h1>
	<% else %>
		<h1 class="page_title"><%= Post.find(params[:team_id]).name %>　投稿一覧</h1>
	<% end %>
	<p class="flash_message"><%= flash[:notice] %></p>
	<%= search_form_for @q, url: team_posts_path, class: "seach" do |f| %>
		<%= f.search_field :name_or_prefecture_code_or_city_cont, class: "seach_form", placeholder: "検索" %>
		<%= button_tag type: "submit" do %>
            <i class="fas fa-search"></i>
        <% end %><br>
		<%= f.radio_button :category_eq, '', {:checked => true} %>指定なし
		<%= f.radio_button :category_eq, 0 %>硬式
		<%= f.radio_button :category_eq, 1 %>軟式
	<% end %>
	<table width="650" class="post_table">
		<thead>
			<tr>
				<th>投稿日</th>
				<th>タイトル</th>
				<th>チーム名</th>
				<th></th>
			</tr>
		</thead>
		<% @posts.each do |post| %>
			<tbody>
				<tr>
					<td><%= post.created_at.strftime("%Y/%m/%d") %></td>
					<td><%= link_to post.title, team_post_path(post) %></td>
					<td><%= post.team.name %></td>
					<% if post.team_id == current_team.id %>
						<td>
							<%= link_to edit_team_post_path(post) do %>
								<i class="fa fa-edit"></i>
							<% end %>
							<%= link_to team_post_path(post), method: :delete, "data-confirm" => "投稿を削除してよろしいですか？" do %>
								<i class="fa fa-trash"></i>
							<% end %>
						</td>
					<% end %>
				</tr>
			</tbody>
		<% end %>
	</table>
</div>