<div class="container">
	<p class="flash_message"><%= flash[:notice] %></p>
	<div class="post_show_box">
		<%= link_to @post.team.name, team_team_path(@post.team), class: "post_team_name" %>
		<% if @post.team == current_team %>
			<%= link_to edit_team_post_path(@post) do %>
				<i class="fa fa-edit"> 編集する</i>
			<% end %>
		<% else %>
			<%= link_to "#{@post.team.name}投稿一覧へ", team_posts_path(team: @post.team.id), class: "team_post_index" %> <!-- postページなので、@post.team.idとしないとpost.idとteam.idが混同して遷移がうまくいかない。)teamページではteam.id) -->
		<% end %>
		<div class="post_title">
			<%= @post.title %>
		</div>
		<div class="post_date">
			<%= @post.created_at.strftime("%Y/%m/%d") %>
		</div>
		<div class="post_img">
			<%= attachment_image_tag @post, :post_image, :fill, 800, 500 %>
		</div>
		<div class="post_body">
			<%= safe_join(@post.body.split("\n"), tag(:br)) %> <!-- 投稿時の改行が反映される -->
		</div>
		<%= link_to "前の画面へ戻る", :back, class: "back_btn" %>
	</div>
</div>