選手からお問い合わせが届きましたので、<br>
内容をご確認の上、選手へのご連絡をお願い致します。<br>
<br>
-------------------------------------------------<br>
<br>
■お問い合わせ内容■<br>
<br>
<table>
	<tr>
		<td>名前：</td>
		<td><%= @contact.name %></td>
	</tr>
	<tr>
		<td>学校：</td>
		<td><%= @contact.school %></td>
	</tr>
	<tr>
		<td>学年：</td>
		<td><%= @contact.year %></td>
	</tr>
	<tr>
		<td>住所：</td>
		<td><%= @contact.address %></td>
	</tr>
	<tr>
		<td>電話番号：</td>
		<td><%= @contact.phone_number %></td>
	</tr>
	<tr>
		<td>メールアドレス：</td>
		<td><%= @contact.player.email %></td>
	</tr>
	<tr>
		<td>希望：</td>
		<td><%= @contact.choice %></td>
	</tr>
	<tr>
		<td>希望日程：</td>
		<td><%= @contact.day %></td>
	</tr>
	<tr>
		<td>その他：</td>
		<td><%= @contact.question %></td>
	</tr>
</table>
<br>
-------------------------------------------------