<div class="container">
  <div class="message_area">
    <h1 class="complete_message">
      メール送信が完了しました！
    </h1>
    <h2 class="complete_sub_message">
      <%= link_to @team.name, player_team_path(@team) %>さんからのご連絡をお待ちください。
    </h2>
    <%= link_to "もっとチームを探す", player_teams_path, class: "btn complete_back_btn" %>
  </div>
  <h3>その他、よく閲覧されているチーム</h3>
  <% @picup_team.each do |picup_team| %>
    <% if picup_team.prefecture_name == current_player.prefecture_name %>
      <div class="complete_team_boxes">
        <div class="team_box">
          <%= link_to player_team_path(picup_team) do %>
            <%= attachment_image_tag picup_team, :team_image, :fill, 200, 130 %><br>
            <p class="team_box_name"><%= picup_team.name %></p>
          <% end %>
          <div class="team_box_bottom">
            ・<%= picup_team.prefecture_name %><%= picup_team.city %><br>
            ・<%= picup_team.category %><br>
            ・<%= picup_team.member %>人
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>